footer 
    .footer 
        a.footer__logo(href="") All Marketing
        .footer__contact
            a.footer__tell(href="tel:+998931717171") +99893 171-71-71
            a.footer__mail(href="https://mail.ru/") support@allmarketing.com     