h1.header__title 
    span Welcome to All Marketing
    p.header__desc Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit ametluctus venenatis, lectus magna fringilla urna, porttitor
    a.btn(href="") Подробнее